---
layout: layout.pug
title: My Article Name
---

h1.f-headline.lh-solid.measure !{ title }

p.lh-solid Here is some content.

p Here is some more.

p What does it look like?

pre
  code
    |const arr = ['Pirate']

p Why are all my paragraphs so big?

p Because everything is inside the h1.
