---
layout: layout.pug
title: My Article Name
---

h1 !{ title }

p Here is some content.

p Here is some more.

p What does it look like?

pre
  code
    |Also
    |    Here's some code, I think.

p Why are all my paragraphs so big?

p Because everything is inside the h1.
